<!-- <p>{{goal.description}}</p>
<button (click)= 'goalComplete(true)'>Complete</button>
<p>This goal will be complete in {{goal.completeDate|dateCount}} days</p> -->


<!-- 
<p>{{goal.description}}</p>
<p>This goal will be complete in {{goal.completeDate|dateCount}} days</p>
<button (click)= 'goalDelete(true)'>Delete Goal</button> -->

<p>{{quote.description}}</p>
<p>This quote will be complete in {{quote.completeDate|dateCount}} days</p>
<button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete quote</button>