<div class="container">
<form (ngSubmit)="submitQuote()" class="card-body ">
  <div class="text-center">

    <h3 class="white-text"> Add Quote <mdb-icon far icon="arrow-alt-circleDownvotes:0-down"></mdb-icon>
    </h3>
    <hr class="hr-light">
  </div>

  <div class="md-form">
    <i class="fas fa-user prefix white-text"></i>
    <label for="form3">Person's name</label>
    <input type="text" id="form3" class="form-control " name="publisher" [(ngModel)]="quoteEditor" mdbInput>
  </div>
  <div class="md-form">
    <i class="fas fa-quote-left prefix white-text"></i>
    <label for="form2">Quotes</label>
    <input type="text" id="form2" class="form-control" name="quote" [(ngModel)]="quoteWords" mdbInput>
  </div>

  <div class="md-form">
    <i class="fas fa-user prefix white-text"></i>
    <label for="form4">Author</label>
    <input type="text" id="form4" class="form-control" name="author" [(ngModel)]="quoteAuthor" mdbInput>
    
  </div>
  <div class="md-form">
    <i class="far fa-clock prefix white-text"></i>
    <label class="" for="form5">Completion Date</label>
    <input type='date' id="form5" class="form-control" name="completeDate" [(ngModel)]="quoteDate" mdbInput>

    </div>
    <div class="text-center">
      <button type="submit" mdbBtn color="indigo" class="waves-light btn btn-info" mdbWavesEffect>Post Quote</button>
      <hr class="hr-light mb-3 mt-4">
    </div>

</form>
</div>